<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
    <h2>Add User</h2>
    <form action="/add" method="POST">
        <label for="ID">ID:</label><br>
        <input type="number" id="ID" name="ID" required><br><br>
        
        <label for="name">Expense Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="category">Expense Category:</label><br>
        <input type="text" id="category" name="category" required><br><br>

        <label for="amount">Amount:</label><br>
        <input type="text" id="amount" name="amount" required><br><br>

        <label for="date">Expense Date:</label><br>
        <input type="date" id="date" name="date" required><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>