<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List based on category</title>
</head>
<body>
    <form action="/fetchCategory" method="POST">
        <label for="category">Category</label>
        <select name="category" id="category">
            <option value="Food">Food</option>
            <option value="Transport">Transport</option>
            <option value="Utilities">Utilities</option>
            <option value="Rent">Rent</option>
            <option value="Education">Education</option>
        </select><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>